/* ===================
   Base
   =================== */

.btn {
    --btn-color: var(--primary);
    --btn-hover: var(--primary-hover);
    padding: .5rem 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-dark);
    --btn-color: var(--primary);
    background-color: var(--btn-color);
    border: solid 2px var(--btn-hover);
    
    
    cursor: pointer;
    transition:
        background-color .25s,
        color .25s,
        box-shadow .25s,
        transform .25s;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}

/* ===================
   Sizes
   =================== */

.btn-sm {
    padding: .25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: smaller;
}

.btn-md {
    border-radius: 0.75rem;
    padding: .5rem 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.18);
}

/* ===================
   Variants
   =================== */

.btn-primary {
    --btn-color: var(--primary);
    --btn-hover: var(--primary-hover);
}

.btn-accent {
    --btn-color: var(--accent);
    --btn-hover: var(--accent-hover);
    color: var(--secondary);
}

.btn-success {
    --btn-color: var(--success);
    --btn-hover: var(--success-hover);
    color: var(--secondary);
}

.btn-modal {
    --btn-color: var(--blur);
    --btn-hover: var(--border);
    padding: 0.2em .5em;
    color: var(--blur);
    border-radius: 3px;
    border: solid 1px var(--btn-hover);
}

.btn-modal:hover {
    color: var(--secondary);
}

/* ===================
   ==== UNDERLINE ====
   =================== */

.btn-line {
    position: relative;
    display: inline-block;
    
    background: transparent;
    border: none;
}

.btn-line::before,
.btn-line::after {
    content: "";
    position: absolute;
    
    width: 50%;
    height: 3px;
    
    transform: scaleX(0);

    bottom: -.05rem;

    background: var(--btn-color);
    transition: transform .25s ease;
}

.btn-line::before {
    right: 0;
    transform-origin: right;
}

.btn-line::after {
    left: 0;
    transform-origin: left;
}

.btn-line.active::before,
.btn-line.active::after,
.btn-line:hover::before,
.btn-line:hover::after {
    transform: scaleX(1);
}

.btn-line:hover,
.btn-line.active {
    color: var(--btn-hover);
    background-color: transparent;
}
